<h3>Projects Manager</h3>
<br />
<ul>
	<li ng-repeat="application in applications"><a href="" ng-click="openApplication(application)">{{application.name}}</a>
		<a href="" class="pull-right" ng-click="remove(application)">x</a>
	</li>
</ul>
<div class="nav centered">
	<button ng-click="newApplication()">New Application</button>
</div>
