<h3>New Application</h3>
<br/>
<form action="">
	<div class="error">
		{{errors.name[0]}}
	</div>
	<label for="">Application Name:</label>
	<input type="text" class="gui-b" ng-model="applicationName">
</form>
<div class="nav centered">
	<button ng-click="createApplication(applicationName)">Create Application</button>
</div>
