html
  width: 100%
  height: 100%

body
  overflow: hidden
  width: 100%
  height: 100%

header
  background-color: #106cc8
  h2, h2 a, h2 a:hover, h2 a:focus
    color: white
    font-family: Roboto, "Helvetica Neue", sans-serif
    text-decoration: none
