.applications-list
  text-align: center
  margin-top: 20px
  li
    cursor: pointer
    display: inline-block
    position: relative
    border: 1px solid #cccccc
    border-radius: 5px
    margin-left: 20px
    margin-bottom: 20px
    width: 250px
    padding: 10px
    &:hover
      text-decoration: none
    span.glyphicon-remove
      position: absolute
      right: 10px
      top: 10px
    h4
      font-weight: bold
    dl dt
      width: 85px
      text-align: left
    dl dd
      margin-left: 90px
      text-align: left
