@import 'settings'
@import 'bootstrap_overrides'
@import 'common'
@import 'manager'
@import 'directives/viewport'
@import 'ngDialog'


.centered
  text-align: center

.toolbar
  margin: 20px 0

.gui-window
  position: absolute
  z-index: 10
  background: #cccccc
  opacity: 0.9
  font-size: 12px

#new-application
  width: 600px
  margin: 0 auto
  border: 1px solid #106cc8
  border-radius: 5px
  padding: 20px
  margin-top: 100px
  h4
    margin-bottom: 20px

.alert-no-applications
  margin-top: 150px
  text-align: center

.main-menu
  border-bottom: 1px solid #cccccc
  padding: 0 20px
  margin-bottom: 0
  position: relative
  z-index: 20
  li
    padding: 5px 10px
    &:hover ul
      display: block
    a
      cursor: pointer
  ul
    background: white
    display: none
    position: absolute
    top: 28px
    border: 1px solid #909090
    li
      clear: both
      border: none
      width: 100%
      a
        float: left
      span
        float: right
        padding: 0 10px
        font-weight: bold
        min-width: 12px

// manager



v3-navigator, v3-object-details
  width: 20%
  max-width: 270px
  overflow-y: auto
  top: 92px
  bottom: 0

v3-navigator
  table
    width: 100%
    tr
      cursor: pointer
      &.selected td
        background: #a2a2a2

v3-object-details
  width: 270px
  right: 0
  input
    width: 100%
  label
    font-weight: normal

od-value
  label
    width: 100%
  input
    width: 65%
    float: right

od-vector3
  label
    float: left
    width: 33.3333%
  input
    width: 75%



.dialog-buttons
  text-align: center
  margin-top: 20px


