<!DOCTYPE html>
<html>
<head>
  <title>V3 Editor</title>
  <link href="bower_components/ngDialog/css/ngDialog.css" rel="stylesheet" media="all" />
  <link href="bower_components/ngDialog/css/ngDialog-theme-default.css" rel="stylesheet" media="all" />
  <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" media="all" />
  <link href="css/style.css" rel="stylesheet" media="all" />

</head>
<body ng-app="v3-editor" ng-controller="AppCtrl">
	<header>
	  <div class="container-fluid">
	    <h2><a ui-sref="applications_index">V3 Editor</a>: {{title}}</h2>
	  </div>
	</header>
	<div ui-view style="width: 100%;height: 100%"></div>
</body>
	<script type="text/javascript" src="bower_components/lodash/lodash.js"></script>
	<!-- <script type="text/javascript" src="bower_components/three.js/build/three.js"></script> -->
	<script type="text/javascript" src="js/vendors/three.min.js"></script>
	<script type="text/javascript" src="bower_components/three.js/examples/js/controls/TransformControls.js"></script>
	<script type="text/javascript" src="bower_components/three.js/examples/js/loaders/OBJLoader.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<script type="text/javascript" src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
	<script type="text/javascript" src="bower_components/ngDialog/js/ngDialog.js"></script>
	<script type="text/javascript" src="bower_components/file-saver.js/FileSaver.js"></script>

	<script type="text/javascript" src="js/vendors/v3/v3.js"></script>
	<script type="text/javascript" src="js/vendors/OrbitControls.js"></script>
	<script type="text/javascript" src="js/vendors/Stats.js"></script>

	<script type="text/javascript" src="build/v3-editor.js"></script>
</html>
