<ul class="main-menu list-unstyled list-inline">
	<li><a href="">Scenes</a></li>
	<li>
		<a href="">Add</a>
		<ul class="list-unstyled">
			<li><a ng-click="addObject('light.ambient')">Ambient light</a></li>
			<li><a ng-click="addObject('light.point')">Point light</a></li>
			<li><a ng-click="addObject('light.spot')">Spot light</a></li>
			<li><a ng-click="addObject('light.directional')">Directinal light</a></li>
			<li><a ng-click="addObject('light.hemisphere')">Hemisphere Light</a></li>


			<li><a ng-click="addObject('camera.perspective')">Perspective camera</a></li>
			<li><a ng-click="addObject('camera.orthographic')">Orthographic camera</a></li>
			<li><a ng-click="addObject('mesh.plane')">Plane</a></li>
			<li><a ng-click="addObject('mesh.cube')">Cube</a></li>
			<li><a ng-click="addObject('mesh.sphere')">Sphere</a></li>
			<li><a ng-click="addLandscape()">Landscape</a></li>
		</ul>
	</li>
	<li><a href="">Settings</a></li>
	<li><a ng-click="save()">Save</a></li>
	<li><a ng-click="export()">Export</a></li>
	<li><a href="">Tools</a>
		<ul class="list-unstyled">
			<li><a ng-click="addObject('light.ambient')">FPS monitor</a></li>
		</ul>
	</li>
</ul>

<v3-viewport system="renderSystem"></v3-viewport>
<v3-navigator class="gui-window"></v3-navigator>
<v3-object-details class="gui-window" object="selectedObject"></object-details>
