<a href="" ng-click="navType='objects'">Objects</a>
<a href="" ng-click="navType='materials'">Materials</a>
<a href="" ng-click="navType='landscape'" ng-show="selectedObject.name==='Landscape'">Landscape</a>

<div ng-show="navType=='objects'">
	<table cellspacing=0 cellspading=0>
		<tr ng-repeat="object in objects" ng-class="{selected:selectedObject.uuid === object.uuid}">
			<td ng-click="toggleObject(object)">{{object.id || "&nbsp;"}}</td>
			<td ng-click="toggleObject(object)">{{object.name || "&nbsp;"}}</td>
			<td ng-click="toggleObject(object)">{{object.type || "&nbsp;"}}</td>
			<td><a href="" ng-click="removeObject(object)">X</a></td>
		</tr>
	</table>
</div>

<div  ng-show="navType=='materials'">

</div>


<div  ng-show="navType=='landscape'">
	<button ng-click="addFoliage()">Add foliage</button>
</div>
