<div ng-show="object" class="container-fluid">
	<h3>{{object.name}} properties</h3>
	<p>bias: {{object.shadowBias}}</p>
	<od-value ng-model='object.name' label='Name'></od-value>

	<od-vector3 ng-model="object.position" label="Position"></od-vector3>
	<od-vector3 ng-model="object.scale" label="Scale"></od-vector3>
	<od-vector3 ng-model='object.rotation' label="Rotation"></od-vector3>

	<od-value ng-model='object.castShadow' label='Cast Shadow' type="checkbox"></od-value>
	<od-value ng-model='object.receiveShadow' label='Receive Shadow' type="checkbox"></od-value>

	<div ng-show="object.type.indexOf('Light')>-1">
		<od-value ng-model='object.distance' label='Distance'></od-value>
		<od-value ng-model='object.intensity' label='Intensity'></od-value>
		<od-value ng-model='object.angle' label='Angle'></od-value>
		<od-value ng-model='object.exponent' label='Exponent'></od-value>


		<od-value ng-model='object.shadowBias' label='Shadow Bias'></od-value>
		<od-value ng-model='object.shadowMapWidth' label='shadowMapWidth Bias'></od-value>
		<od-value ng-model='object.shadowMapHeight' label='shadowMapHeight'></od-value>

		<od-value ng-model='object.decay' label='Decay'></od-value>



		<div class="row">
			<label>Shadow Camera</label>
			<input type="checkbox" ng-model="object.shadowCameraVisible">
		</div>
	</div>
</div>
