<div class="ngdialog-message">
	{{ngDialogData.message}}
</div>
<div class="ngdialog-buttons mt">
	<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog(1)">Remove</button>
	<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog(0)">Cancel</button>
</div>
