<h3>Scenes Manager</h3>
<br />
<ul>
	<li ng-repeat="scene in ngDialogData.project.scenes"><a href="" ng-click="selectScene(scene)">{{scene.name}}</a>
		<a href="" class="pull-right" ng-click="remove(scene)">x</a>
	</li>
</ul>
