<h3>New Scene</h3>
<br/>
<form action="">
	<div class="error">
		{{errors.name[0]}}
	</div>
	<label for="">Scene Name:</label>
	<input type="text" class="gui-b" ng-model="sceneName">
</form>

<div class="nav centered">
	<button ng-click="create(sceneName)">Create Scene</button>
</div>
