<div class="ngdialog-message">
	<h2>Generate Terrain</h2>
	<form class="form-horizontal">
		<div class="form-group">
	    <label for="depth" class="col-sm-2 control-label">Depth</label>
	    <div class="col-sm-10">
	      <input class="form-control" id="depth" ng-model="config.depth">
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="width" class="col-sm-2 control-label">Width</label>
	    <div class="col-sm-10">
	      <input class="form-control" id="width" ng-model="config.width">
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="height" class="col-sm-2 control-label">Height</label>
	    <div class="col-sm-10">
	      <input class="form-control" id="height" ng-model="config.height">
	    </div>
	  </div>

		<div class="form-group">
	    <label for="widthSegments" class="col-sm-2 control-label">Width Segments</label>
	    <div class="col-sm-10">
	      <input class="form-control" id="widthSegments" ng-model="config.widthSegments">
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="heightSegments" class="col-sm-2 control-label">Height Segments</label>
	    <div class="col-sm-10">
	      <input class="form-control" id="heightSegments" ng-model="config.heightSegments">
	    </div>
	  </div>
	</form>
</div>
<div class="ngdialog-buttons mt">
	<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog(config)">Generate</button>
	<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog(0)">Cancel</button>
</div>
