<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 toolbar centered">
			<a ui-sref="application_new" class="btn btn-success">New Application</a>
		</div>
	</div>

	<div class="alert alert-warning alert-no-applications col-md-2 col-md-offset-5" ng-show="!applications.length">
    Currently there are no applications. <a ui-sref="application_new">Create one!</a>
	</div>

	<ul class="list-unstyled list-inline applications-list">
		<li ng-repeat="application in applications" ng-click="open(application)">
			<span
				class="glyphicon glyphicon-remove"
				ng-click="remove(application, $event)"
				>&nbsp;</span>
			<h4>{{application.name || "Untitled"}}</h4>
			<dl class="dl-horizontal">
				<dt>Description</dt>
			  <dd>{{application.description || "..."}}</dd>

				<dt>ID</dt>
				<dd>{{application.id}}</dd>
			  <dt>Created</dt>
			  <dd>{{application.dateCreated | date: "yyyy.MM.dd "}}</dd>

			  <dt>Scenes</dt>
			  <dd>{{application.cScenes || "..."}}</dd>

			  <dt>Objects</dt>
			  <dd>{{application.cObjects || "..."}}</dd>
			</dl>
		</li>
	</ul>
</div>
