<form id="new-application" class="form-horizontal" ng-submit="create()">
	<h4>New Application</h4>
	<div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" ng-model="application.name">
    </div>
  </div>

  <div class="form-group">
    <label for="description" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="description" ng-model="application.description"></textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Create</button>
      <a ui-sref="applications_index" class="btn btn-default">Cancel</a>
    </div>
  </div>
</form>
