<div class="row">
	<div class="col-md-4">{{label}}</div>
	<div class="col-md-8">

		<label>
			x
			<input type="text" ng-model="ngModel.x">
		</label>

		<label>
			y
			<input type="text" ng-model="ngModel.y">
		</label>

		<label>
			z
			<input type="text" ng-model="ngModel.z">
		</label>
</div>
